<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sly School TimeTable Scheduler">
    <meta name="author" , content="Germany Mangezi">
    <meta name="keywords" content="Sly Time Table Scheduler,School TimeTable, Sly Scheducate">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>PayIns Summary</title>
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" type="image/x-icon" href="/images/newslylogo.jpg">
    <link rel="stylesheet" href="css/payin.css">
    <link rel="stylesheet" href="css/notification.css" />
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/daterangepicker.css" />
</head>

<body style="margin:0;">
    <!-- PAGE LOADER -->
    <div class="loader-container">
        <div class="loader"></div>
        <p class="loader-text">Loading...</p>
    </div>
    <div class="myloader"></div>
    <div class="theLoader">
        <div id="spinner"></div>
    </div>
    <div id="tool-bar" class="toolbar" style="display: none;">
        <div class="menu-icon iconbtn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <span id="toolbar-text">PayIns Summary </span>
    </div>
    <!--The MENU ITEMS-->
    <div class="icon-nav close" style="display: none;">
        <script src="js/common-iconsFE.js"></script>
    </div>
    <div class="main-card-second">
        <div id="income-date">
            <input class="form-control form-control-solid" type="text" name="dateRange" id="dateRange">
            <div class="input-group rounded">
                <input id="searchInput" type="search" class="form-control rounded" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" maxlength="5">
                <span class="input-group-text border-0" id="search-addon">
                    <img src="images/payinsearch.png" alt="Search" style="width: 23px;">
                </span>

            </div>
        </div>

        <div class="totalContainer">
            <div class="box firstBox" id="openingBalBox">
                <span class="paragraph">
                </span>
                <span class="openingBalance">
                    0.00
                </span>
                <h4>Opening Balance</h4>
            </div>
            <div class="box secondBox" id="incomeBox">
                <span class="incomeCategory" style="font-weight: bold;"></span>
                <span class="paragraph">
                    <%=isoCode %>
                </span>
                <span class="totalIncome">
                    0.00
                </span>
                <h4>PayIns</h4>

            </div>
            <div class="box thirdBox" id="expenseBox">
                <span class="expenseCategory" style="font-weight: bold;"></span>
                <span class="paragraph">
                    <%=isoCode %>
                </span>
                <span class="totalExpenses">
                    0.00
                </span>
                <h4>PayOuts </h4>

            </div>

            <div class="box fourthBox" id="cashBalanceBox">
                <span class="paragraph">

                </span>

                <span class="CashBalance">
                    <%=isoCode %>
                        0.00
                </span>
                <h4>Cash Balance</h4>

            </div>
        </div>

    </div>
    <div class="income">
        <div class="form-income-input" id="income-details-Form">
            <form method="post" action="myIncome" class="editForm" id="add-income-form">
                <div class="row">
                    <div class="col-md-12">
                        <label for="Description">Description:</label>
                        <input type="text" name="" class="Income_descript" minlength=" 3" maxlength="25" required>
                    </div>
                    <div class="col-md-6">
                        <label for="category">Category</label>
                        <input type="text" name="" id="categoryText" disabled="true">
                        <div class="InCatemenu">
                            <div class="cate-btn">
                                <span class="cate-Btn-Span">Select Category.. </span>
                                <div class="ccaret"></div>
                            </div>

                        </div>
                        <ul class="InCategories">
                            <% categories.forEach(option=> { %>
                                <li class="cate-option">
                                    <option>
                                        <%= option.category %>
                                    </option>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <label for="currency">Currency</label>
                        <input type="text" name="" id="currencyText" disabled="true">
                        <div class="Incomeselectmenu">
                            <div class="select-btn">
                                <span class="btn-text">Payment Type... </span>
                                <div class="caret"></div>
                            </div>
                        </div>
                        <ul class="Incomecurrencies">
                            <% currencies.forEach(option=> { %>
                                <li class="option">
                                    <option>
                                        <%= option.Currency_Name %>
                                    </option>
                                </li>
                                <% }) %>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" pattern="[0-9]+([.][0-9]+)?" step="any"
                            class="current-amount" id="amount-input">
                    </div>
                    <div class="col-md-6">
                        <label for="rate">Rate</label>
                        <span for="sub" class="current-rate" id="label-rate">RATE</span>
                    </div>

                    <div class="col-md-6">
                        <label for="invoiceNo">Invoice No</label>
                        <input type="text" name="" class="invoice" id="invoice-input">
                    </div>
                    <div class="col-md-6">
                        <label for="shiftNo">Shift No</label>
                        <input type="text" name="" class="shift" id="shift-input">
                    </div>
                </div>
                <button type="submit" id="btn-save">ADD</button>
                <label class="myId" for="dep" hidden>Id</label>
                <label class="myDate" for="dep" hidden>Date</label>
            </form>
        </div>

    </div>


    <div class="main-card" style="height: 90%;">
        <div class="btnContainer">
            <button class="export">Export</button>
            <div class="dropdown">
                <button type="button" class="import" data-bs-toggle="dropdown" aria-expanded="false"
                    data-bs-auto-close="outside">
                    Import
                </button>
                <form class="importForm dropdown-menu">
                    <h2>File Import</h2>
                    <div class="mb-3">
                        <label for="csv-file">Select CSV file:</label>
                        <input type="file" name="file" id="csv-file" accept=".csv" required>
                        <p class="form-text">Drag and drop your file here</p>
                    </div>
                    <div class="mb-3">
                        <p> You can download our <a id="download-template-link" href="Templates/IncomeTemplate.csv"
                                download>CSV
                                Template</a>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" id="upload-btn">Upload</button>
                        <button type="button" id="cancel-btn">Retry</button>
                    </div>
                </form>
            </div>
            <div class="columns">
                <div class="dropdown" style="display:inline-block;">
                    <button class="btn" type="button" id="columnId" data-bs-toggle="dropdown" aria-expanded="false"
                        style="background-color: transparent;">
                        <i class="fa fa-columns payinColumn" style="width: 37px;margin-top: 3px; color:rgb(1, 6, 105) ;"
                            aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <label class="dropdown-item custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-id-shift" value="ShiftNo"
                                    class="custom-control-input">
                                <span class="custom-control-label">ShiftNo</span>
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-id-vat" value="Tax" class="custom-control-input">
                                <span class="custom-control-label">Tax</span>
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-id-invoice" value="InvoiceRef"
                                    class="custom-control-input">
                                <span class="custom-control-label">InvoiceRef</span>
                            </label>
                        </li>

                        <li>
                            <label class="dropdown-item custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-id-cashEquiv" value="CashEquiv"
                                    class="custom-control-input">
                                <span class="custom-control-label">CashEquiv</span>
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-id-balance" value="RunningBalance"
                                    class="custom-control-input">
                                <span class="custom-control-label">RunningBalance</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="deleteModal" style="margin-top: -13px;margin-bottom: 10px;">
            <button id="confirm-delete-btn" class="confirm_delete" style="background-color: transparent;"><img
                    src="images/payIndelete.png" alt="" srcset="" style="width: 23px;margin-left: 9px;">
            </button>
        </div>
        <!-- <div class="box"> -->

        <div id="table_container">
            <table class="income-list-table" cellspacing="0">
                <thead class="income-list-headings">
                    <tr class="income-list-row">
                        <th>
                            <input type="checkbox" class="form-check-input" name="cchk" id="myCheck"
                                value="checkedValue">
                        </th>
                        <th hidden><span class="incomeIdClass" id="incomeId">Id</span></th>
                        <th><span class=""> Date
                                <p style="color: black; font-size: 11px; font-style: italic; margin-top: -7px; 
                        margin-bottom: -11px;">(dd/mm/yyyy)</p>
                            </span>
                            <div class="sorting-arrows">
                                <span id="sortDateAsc" class="sort-arrow">&#8593;</span>
                                <span id="sortDateDesc" class="sort-arrow">&#8595;</span>
                            </div>

                        </th>
                        <th><span class="">ShiftNo</span></th>
                        <th><span class="">Tax</span></th>
                        <th><span class="">InvoiceRef</span></th>
                        <th><span class="">Description</span></th>
                        <!-- <th class="categoryHeader"><span class="catHeaderName" id="">Category
                            </span></th> -->
                        <th class="categoryHeader"></th>
                        <th><span class="">Currency</span></th>
                        <th>
                            <span class="">Amount</span>
                        </th>
                        <th><span class=""> Rate
                                <p style="color: black; font-size: 10px; font-style: italic; margin-top: -7px; 
                            margin-bottom: -11px;">(Relative to <%=isBaseCurrency %>)</p>
                            </span></th>
                        <th><span class=""> CashEquiv
                                <p style="color: black; font-size: 11px; font-style: italic; margin-top: -7px; 
                            margin-bottom: -11px;">(<%=isBaseCurrency %>)</p>
                            </span></th>
                        </span>
                        </th>
                        <th><span class=""> RunningBalance
                                <p style="color: black; font-size: 11px; font-style: italic; margin-top: -7px; 
                            margin-bottom: -11px;">(<%=isBaseCurrency %>)</p>
                            </span></th>

                    </tr>
                </thead>
                <tbody class="table-body" id="IncomeTableBodyID">
                    <div id="Table_messages" style="display: none; color: grey; position: absolute;text-align: center;top: 50%;left: 50%;
                    transform: translate(-50%, -50%);">
                        <div>
                            <div class="addRow" style="cursor: pointer;">
                                <i class="fa-solid fa-receipt" style="font-size: 74px;"></i>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="noDataText" style="font-size: 30px;margin-top: 10px;"></div>
                            <div class="noDataText2" style="font-size: 20px;"></div>

                        </div>
                </tbody>

            </table>


        </div>

        <!-- Pagination -->
        <div class="footer" style="display: none;">

            <div class="pagination">
                <span id="previous" style="font-size: 25px; margin-right: 15px;">&laquo;</span>
                <div id="pagination"></div>
                <p class="statusText" style="color: black; margin-top: 13px;"> <span class="spanText"></span> of
                    <span class="spanText1"></span> |
                <div class="dropdown" style="margin-top: 7px;">
                    <button class="btn dropdown-toggle paginationBtn" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="outline: none;border: none;background-color: transparent;">
                        <span class="statusSpan" style="width: 20px;">Rows Per Page</span>
                        <span class="rowsPerPage"></span>
                    </button>
                    <!-- <div class="paginationContainer" style="margin-top:-6%;"> -->
                    <ul class="dropdown-menu">
                        <li class="paginationList"><a class="dropdown-item paginationItems" id="paginationId0"
                                href="#">5</a></li>
                        <li class="paginationList"><a class="dropdown-item paginationItems" id="paginationId1"
                                href="#">10</a></li>
                        <li class="paginationList"><a class="dropdown-item paginationItems" id="paginationId2"
                                href="#">50</a></li>
                    </ul>
                </div>
                </p>
                <span id="next" style="font-size: 25px;margin-left: 15px;">&raquo;</span>
            </div>
        </div>
        <div class="undoVat" id="undoVatId">
            <div class="undoVatContent">
                <p class="undoVatMsg" style="margin-top: 11%; margin-left: 23px;"></p>
                <div class="undoVatButtonContainer" style="margin-top: 30px;">
                    <button id="yesUndoVat" style="margin-right: -23px;">Yes</button>
                    <button id="noUndoVat">No</button>
                </div>

            </div>
            <img src="images/redCross.png" id="closeVatModal" alt="" srcset="">
        </div>
        <div class="deleteAcc" id="deleteRowsId">
            <div class="deleteRowsContent">
                <p class="deleteMsg" style="margin-top: 11%;"></p>
                <div class="deleteButtonContainer" style="margin-top: 30px;">
                    <button id="yesDelete" style="margin-right: -23px;">Yes</button>
                    <button id="noDelete">No</button>
                </div>
                <img src="images/redCross.png" id="closeDelete2" alt="" srcset="">
            </div>
        </div>
        <div id="totalIncome" class="total-block">
            <div class="block-title">

            </div>
        </div>

        <!-- Modal -->
        <div id="success_tic" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal_Content" style="margin-top: -30px;margin-left: 49px;">
                    <div class="page-body">
                        <h1 style="text-align:center;">
                            <div class="checkmark-circle">
                                <div class="background"></div>
                                <div class="checkmark draw"></div>
                            </div>
                            <h1>
                                <div class="head">
                                    <h3 style="margin-top:20px;color:#1ab394 ;font-weight: 200;">Import Completed
                                    </h3>
                                    <h4 class="uploadData" style="margin-top:20px;color:black; display: none;">Your list
                                        of <span class="itemsCount"></span> payIns has
                                        been successfully uploaded</h4>
                                    <h4 class="noUploadData" style="margin-top:20px;color:black;display: none;">No
                                        payins
                                        uploaded,payins already exist</h4>
                                    <button id="okay">Ok</button>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notificationBlock"></div>
    <script type="module" src="js/payinFE.js"></script>
    <script src="js/intlTelInput.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.min.js"></script>

</body>

</html>